*{
    margin:   0;
    padding:  0;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: #402d42;
}
.datetime{
    color:rgb(231, 198, 221);
    background: #513d55;
    font-family: "segoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px;
    border:3px solid #8b387b;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
    }
    .datetime:hover{
        background:#72136c;
        box-shadow: 0 0 30px #2E94E3;

    }

    .date{
        font-size: 20px;
        font-weight: 600;
        text-align:center;
        letter-spacing: 3px;
    }
    .time{
        font-size: 60px;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    .time span:not(:last-child){
position: relative;
margin: 0 6px;
font-weight: 600;
text-align:center;
letter-spacing: 3px;
    }
    .time span:last-child{
        background: #D39FDB;
        font-weight: 600;
        font-size:30px;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 0px;
        border-radius: 3px;

    }